
body {
  background: rgb(26, 26, 26);
  line-height: 1.4;
  font-size: 15px;
  font-weight: 300;
}

.btn-home{
  background: transparent;  
  border:none;
  cursor: pointer;
  color:rgb(231,95,133);
  font-size: 1.6rem;
  font-weight: 100;
}

h1{
  color: rgb(231,95,133);
  text-align: center;
  font-weight: 100;
  font-size: 200%;
  margin-top: 50px
}

h2,
p {
     color: rgb(255,255,255);
     font-size: 150%;
     text-align: center;
     font-weight: 100
}

.assetText{
  color: rgb(231,95,133);
}


.assetText:hover,
.assetText:active,
.assetText:visited
 {
  color: #fff;
  opacity: 1;
}

.stocktakeSpan {
  width: 65%;
  background: rgb(26,26,26); 
  color: rgb(200,200,200);
  border:1px solid rgb(231,95,133);
}

.stocktakeInput {
  background: rgb(200,200,200);
  border:1px solid rgb(231,95,133);
}

.stocktakeSubmit {
  margin-bottom: 50px; 
  border:1px solid rgb(231,95,133);
  color: rgb(200,200,200);
}

.partsContainer {
  background: transparent; 
  color: rgb(150,155,161);
  border: 1px solid rgb(37.5,39,46.5);
  border-radius: 5px; 
  margin-bottom:2px;
}

.homeTable {
  color: rgb(200,200,200); 
  width: 98%; 
  margin-left: 1%; 
  border: 1px solid rgb(231,95,133);
}

.stripListItem {
  background: transparent; 
  color: rgb(150,155,161); 
  border: 1px solid rgb(37.5,39,46.5);
  border-radius: 5px; 
  margin-bottom:2px;
}
